@import 'tdesign-vue-next/es/style/index.css';

:root {
  --td-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --td-font-family-mono: 'JetBrainsMono-Regular', 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono',
    'Courier New', 'monospace';
}

html {
  font-family: var(--td-font-family);
}